[program:{{ GRAPHITE_APP_NAME }}]
command={{ GRAPHITE_DIR }}/bin/python {{ GRAPHITE_DIR }}/webapp/graphite/manage.py runserver --noreload --pythonpath={{ GRAPHITE_DIR }}/webapp --settings=graphite.settings 0.0.0.0:8083
process_name=%(program_name)s
priority=5
autostart=true
autorestart=true
startsecs=3
redirect_stderr=false
stdout_logfile=/var/log/%(program_name)s.log
stdout_logfile_maxbytes=2MB
stdout_logfile_backups=10
stdout_capture_maxbytes=2MB

stderr_logfile=/var/log/%(program_name)s-error.log
stderr_logfile_maxbytes=2MB
stderr_logfile_backups=10
stderr_capture_maxbytes=2MB