[supervisord]
logfile_maxbytes={{ SUPERVISORD_LOG_MAX_BYTES }}
logfile_backups=10
loglevel={{ SUPERVISORD_LOG_LEVEL }}

[supervisorctl]
serverurl=unix:///var/run/supervisor/supervisor.sock

[include]
files=/etc/supervisord/conf.d/*.conf